@media (max-width: 650px) {
    .modal {
        width: 75%;

        nav {
            ul {
                row-gap: 40px;
            }
            a {
                font-size: 16px;
                padding: 6px 14px;
            }
        }
    }
}