.modal {
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 110;

    padding-top: 80px;
    text-align: center;

    &-active {
        transform: translateX(0%);
    }

    nav {
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 60px;
        }

        a {
            position: relative;
            color: var(--color-orange);
            font-family: var(--font-second);
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 10px 20px;

            border: 2px var(--color-orange) solid;
            border-radius: 6px;
        }
    }
}